<h1>Contact Us</h1>

<%= form_for @message do |f| %>
  <% if @message.errors.any? %>
  <div class='alert alert-danger'>
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
    <ul class="mb-0">
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <fieldset>
  <div class='form-group'>
    <%= f.label :name %>

    <% if is_signed_in %>
      <%= f.text_field :name, class: 'form-control', disabled: true  %>
    <% else %>
      <%= f.text_field :name, class: 'form-control', required: true  %>
    <% end %>
  </div>

    <div class='form-group'>
      <%= f.label :email %>
      <% if is_signed_in %>
        <%= f.email_field :email, class: 'form-control', disabled: true  %>
      <% else %>
        <%= f.email_field :email, class: 'form-control', required: true %>
      <% end %>
    </div>

  <div class='form-group'>
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control', required: true  %>
  </div>

  <div class="form-group">
    <%= recaptcha_tags %>
  </div>
  </fieldset>

  <fieldset class='form-group'>
    <%= f.submit nil, class: 'btn btn-primary' %>
  </fieldset>
<% end %>
