<h1>Update email address</h1>

<%= form_for @form, url: url_for(controller: :update_emails, action: :create) do |f| %>
  <%= render "form_errors", { form: @form } %>

  <div class='form-group'>
    <%= f.label :email, 'New email address' %>
    <%= f.email_field :email, class: 'form-control', required: true %>

    <p class="form-text text-muted">
      <strong>Caution!</strong> Upon submission you will be restricted from
      accessing your account until you verify the new email address.
    </p>
  </div>

  <div class='form-group'>
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>
