<h2>Edit Profile</h2>

<%= form_for @user do |f| %>
  <%= render "form_errors", { form: @user } %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control", disabled: true %>
    <p class="form-text text-muted">
      <%= link_to "Update email address", new_update_email_path %>
    </p>
  </div>

  <div class="form-group">
    <%= f.label :bio %>
    <%= f.text_area :bio, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :url %>
    <%= f.url_field :url, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :location %>
    <%= f.text_field :location, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <p class="form-text text-muted">
      <%= link_to "Change password", new_change_password_path %>
    </p>
  </div>

  <div class="form-group">
    <%= f.submit nil, { class: "btn btn-primary" } %>
  </div>
<% end %>
