<div class="row mb-4">
  <div class="col-2">
    <img class="rounded img-fluid" src="<%= avatar_url @user %>" width=128>
  </div>

  <div class="col-10">
    <h2><%= @user.name %></h2>
    <p><%= @user.bio || "Nothing here for now 😔" %></p>

    <% if @user.location %>
      <%= octicon "globe" %>
      <%= @user.location %>
    <% end %>

    <% if @user.url %>
      <%= link_to @user.url do %>
        <%= octicon "pin" %>
        <%= @user.url %>
      <% end %>
    <% end %>
  </div>
</div>

<hr/>

<% @posts.each do |post| %>
  <%= render "posts/post", { post: post } %>
<% end %>
