<div class="card mb-2">
  <div class='card-block'>

  <div class='media'>
    <%= link_to post.user do %>
      <img class="d-flex mr-3 media-object rounded" src="<%= avatar_url post.user %>" width=48 alt="<%= post.user.name %>">
    <% end %>

    <div class="media-body">
      <%= link_to post.user.name, post.user %>
      <p><small class="text-muted"><%= post.created_at.to_formatted_s(:short) %></small></p>
    </div>
  </div>

  <%#= highlight(
        simple_format(
          truncate(post.body, length: 280, separator: ' ') {
            content_tag(:span, "(continued)", class: "text-muted")
          },
          { class: "media-text" },
          wrapper_tag: "span"
        ),
        params[:q]
  ) %>

  <div class="card-text bourn-post-media mb-3">
    <%= raw post.body %>
  </div>

  <%= link_to "Read", post, class: "card-link" %>

  <% if current_user %>
    <% if post.likes.exists?(user_id: current_user)  %>
      <%= link_to "Unlike", [:unlike, post], class: 'card-link' %>
    <% else %>
      <%= link_to "Like", [:like, post], class: 'card-link' %>
    <% end %>
  <% else %>
    <%= link_to "Like", new_session_path, class: "card-link" %>
  <% end %>

  <% if policy(post).update? %>
    <%= link_to "Edit", edit_post_path(post), class: 'card-link' %>
  <% end %>

  </div>
</div>
