<div class="media">
  <%= link_to post.user do %>
    <img class="d-flex mr-3 media-object rounded" src="<%= avatar_url post.user %>" width=48>
  <% end %>

  <div class="media-body">
    <h6 class="mt-0">
      <%= link_to post.user.name, post.user %>
      <small class="text-muted">
        <%= post.created_at.to_formatted_s(:short) %>
      </small>
    </h6>

    <%#= highlight(
          simple_format(
            truncate(post.body, length: 280, separator: ' ') {
              content_tag(:span, "(continued)", class: "text-muted")
            },
            { class: "media-text" },
            wrapper_tag: "span"
          ),
          params[:q]
    ) %>

    <div class="bourn-post-media">
    <%= raw post.body %>
    </div>

    <p>
      <%= link_to "view", post, class: "mr-2" %>
      <% if policy(post).update? %>
        <%= link_to "edit", edit_post_path(post) %>
      <% end %>
    </p>
  </div>
</div>
