<!-- <div class="list-group-item"> -->
<%#= link_to post, class: "list-group-item list-group-item-action" do %>
  <div class="media">
    <img class="d-flex mr-3 media-object rounded" src="<%= avatar_url post.user %>" width=64>

    <div class="media-body">
      <h6 class="mt-0">
        <%= post.user.name %>
        <small class="text-muted">
          <%= post.created_at.to_formatted_s(:short) %>
        </small>
      </h6>

      <%= highlight(simple_format(truncate(post.body, length: 280, separator: ' ') {
          content_tag(:span, "(continued)", class: "text-muted")
        }, {class: "media-text"}, wrapper_tag: "span"), Post.tag_regex) %>

      <p>
        <%= link_to "view", post, class: "mr-2" %>
        <% if policy(post).update? %>
          <%= link_to "edit", edit_post_path(post) %>
        <% end %>
      </p>

      <ul class="list-unstyled">
        <% post.children.limit(3).each do |child| %>
          <%= render "posts/tiny_post", { post: child } %>
        <% end %>
      </ul>
    </div>
  </div>
<!-- </div> -->
<%# end %>
