<h1 class="mb-4">News Feed</h1>

<div class='row'>
  <div class='col-md-3 hidden-md-down'>
    <div class="card">
      <div class="card-header">
        Featured Users
      </div>
      <div class="list-group list-group-flush">
        <% User.find_each do |user| %>
          <%= link_to user, class: "list-group-item" do %>
            <img src="<%= avatar_url user %>" width=32 class="mr-2" />
            <%= user.name %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class='col-lg-9'>
    <% if is_signed_in %>
      <div class="hidden-print">
        <%= render "parent_post_form" %>
      </div>
    <% end %>

    <div class="list-group">
      <% @posts.each do |post| %>
        <%= render "posts/post", { post: post } %>
      <% end %>
    </div>
  </div>
</div>
