<h2>
  <%= @post.title %>
  <%= raw @post.tags_html %>
</h2>
<p class="text-muted"><%= @post.created_at.to_formatted_s(:short) %></p>

<%= markdown(@post.body) %>

<% if policy(@post).update? %>
  <%= link_to "Edit post", edit_post_path(@post), class: "btn btn-primary" %>
<% end %>

