<% if @post.parent %>
  <%= render "posts/post", { post: @post.parent } %>
  <hr/>
  <br/>
<% end %>

<div class="media">
  <%= link_to @post.user do %>
    <img class="d-flex mr-3 media-object rounded" src="<%= avatar_url @post.user %>" width=48>
  <% end %>

  <div class="media-body">
    <h6>
      <%= link_to @post.user.name, @post.user %>
      <small class="text-muted">
        <%= @post.created_at.to_formatted_s(:short) %>
      </small>
    </h6>

    <%#= highlight(simple_format(@post.body, {class: "media-text"}, wrapper_tag: "p"), Post.tag_regex) %>
    <%= raw @post.body %>

    <% if policy(@post).update? %>
    <div class="mb-4">
      <%= link_to "edit", edit_post_path(@post) %>
    </div>
    <% end %>
  </div>
</div>

<% if current_user %>
  <div class="mt-2">
    <%= render "child_post_form" %>
  </div>
<% end %>

<ul class="list-unstyled">
  <% @post.children.each do |post| %>
    <%= render "posts/post", { post: post } %>
  <% end %>
</ul>
