<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="google-site-verification" content="Onv-ygarc19a_4tMWG_AsLAxh2-3WSUKf6ntvXZstdk" />
    <meta name="keywords" content="microblogging, twitter alternative, alternative social network, blog, blogging, mastodon alternative, medium alternative, microbloggin platform, blogging platform, wordpress alternative" />

    <title>Bourn</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', integrity: true %>
    <%= javascript_include_tag 'application', integrity: true %>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">

      <button
        class="navbar-toggler navbar-toggler-right" type="button"
        data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>

      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo.png", width: 28, height: 28, class: "d-inline-block align-top" %>
        Bourn
      <% end %>

      <form class="form-inline my-2 my-lg-0" action="/posts" method="GET">
        <input name="q" class="form-control" type="text" placeholder="Search" value="<%= params[:q] %>">
      </form>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <% if is_signed_in %>
            <% if current_user.role == "admin" %>
              <li class="nav-item">
                <%= link_to "Admin Site", admin_root_path, class: "nav-link" %>
              </li>
            <% end %>
            <li class="nav-item">
              <%= link_to "Profile", current_user, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign out", session_path, method: :delete, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Sign up", new_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign in", new_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <br/>

    <main class="container-fluid">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">

        <% if alert %>
        <div class="alert alert-warning" role="alert">
          <%= alert %>
        </div>
        <% end %>

        <% if notice %>
        <div class="alert alert-info" role="alert">
            <%= notice %>
        </div>
        <% end %>

        <%= yield %>
        </div>
      </div>
    </main>

    <footer class="bd-footer text-muted">
    <div class="container">
        <ul class="bd-footer-links">
          <li><a target="_blank" href="https://github.com/jonahgeorge/bourn">GitHub</a></li>
          <li><%= link_to "Contact", new_messages_path %></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Policies", policies_path %></li>
        </ul>
        <p>Designed and built by <a href="https://twitter.com/jonahgeorge" target="_blank">@jonahgeorge</a>.</p>
    </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/javascript">
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'weatherglass-tracker';
      t.setAttribute('data-site-id', 'bourn');
      t.src = "https://weatherglass.herokuapp.com/track.js";
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
    </script>
  </body>
</html>
