<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="google-site-verification" content="Onv-ygarc19a_4tMWG_AsLAxh2-3WSUKf6ntvXZstdk" />
    <meta name="keywords" content="microblogging, twitter alternative, alternative social network, blog, blogging, mastodon alternative, medium alternative, microbloggin platform, blogging platform, wordpress alternative" />
    <meta name="keywords" content="microblogging, twitter alternative, alternative social network, blog, blogging, mastodon alternative, medium alternative, microbloggin platform, blogging platform, wordpress alternative, open source alternative microblogger, jonahs tech blog, social media alternative blog" />
    <meta name="description" content="Bourn is a place where everyone has a story to share. Its an open-source social network, an alternative to monopolized commercial platforms." />

    <title>Bourn · Microblogging for everyone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', integrity: true %>

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@jonahgeorge" />
    <meta name="twitter:title" content="<%= @page_title || 'Bourn · Microblogging for everyone' %>" />
    <meta name="twitter:description" content="<%= @page_description || 'Welcome to Bourn, a place where everyone has a story to share. Bourn is an open-source social network. An alternative to monopolized commercial platforms, Bourn is operated in an open fashion and we value all contributions' %>" />
    <meta name="twitter:image" content="<%= image_url 'logo.png' %>" />
  </head>

  <body>
    <header>
    <nav class="navbar navbar-toggleable-md navbar-inverse">
      <div class="pl-0 pr-0 container col-lg-10 offset-lg-1">
      <button
        class="navbar-toggler navbar-toggler-right" type="button"
        data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>

      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo.png", width: 28, height: 28, class: "d-inline-block align-top", alt: "Bourn - Microblogging for everyone" %>
        <span style="font-family: 'PT Mono', sans-serif">Bourn</span>
      <% end %>

      <form class="form-inline my-2 my-lg-0 hidden-print" action="/posts" method="GET">
        <input id="search-form" name="q" class="search-form form-control mr-sm-2"
          type="search" placeholder="Search" autcomplete="off" value="<%= params[:q] %>">
      </form>
      <div class="clearfix"></div>

      <span class='navbar-text col-lg-3'>Microblogging for Everyone</span>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <% if is_signed_in %>
            <% if current_user.role == "admin" %>
              <li class="nav-item">
                <%= link_to "Admin Site", admin_root_path, class: "nav-link" %>
              </li>
            <% end %>
            <li class="nav-item">
              <%= link_to "Profile", current_user, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign out", session_path, method: :delete, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Sign up", new_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign in", new_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
      </div>
    </nav>

    <br/>

    </header>

    <main class="container-fluid">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">

        <% if alert %>
          <div class="alert alert-warning" role="alert"><%= alert %></div>
        <% end %>

        <% if notice %>
          <div class="alert alert-info" role="alert"><%= notice %></div>
        <% end %>

        <%= yield %>
        </div>
      </div>
    </main>

    <footer class="bd-footer text-muted">
      <div class="col-10 offset-1">
          <ul class="bd-footer-links">
            <li><a target="_blank" href="https://github.com/jonahgeorge/bourn">GitHub</a></li>
            <li><%= link_to "Contact", new_messages_path %></li>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Policies", policies_path %></li>
          </ul>

          <p>Designed and built by <a href="https://twitter.com/jonahgeorge" target="_blank">@jonahgeorge</a>.</p>
          <br>
          <p>Bourn - Microblogging for Everyone</p>
      </div>
    </footer>

    <%= javascript_include_tag 'application', integrity: true %>

    <!-- Weatherglass Tracker -->
    <script type="text/javascript">
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'weatherglass-tracker';
      t.setAttribute('data-site-id', 'bourn');
      t.src = "https://weatherglass.herokuapp.com/track.js";
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
    </script>

    <!-- Google Analytics Tracker -->
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-98818441-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
